*{
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

:root{
  --g-color: #f0eef1;
  --orange-color: #c7a529;
  --dg-color: #272731;

}


/* =============================================================================
   PARTICLES
   ========================================================================== */

/* ---- base ---- */
html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;           
  background: var(--g-color);  
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* New styles*/
  display: block;
  position: fixed;
}


/* =============================================================================
   END PARTICLES
   ========================================================================== */

   /* =============================================================================
   WEB PAGE STYLES
   ========================================================================== */
  .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: #ec1417;
}
.first {
  top: 0;
  background: var(--dg-color);
}

.second {
  top: 33.3%;
  background: var(--dg-color);
}

.third {
  top: 66.6%;
  background: var(--dg-color);
}

header{
  position: fixed;
  z-index: 1;
  width: 100%;
}

h1, h2, h3, h4, h5, p{
  font-family: telegraf,-apple-system,BlinkMacSystemFont,Segoe UI;
}

.navbar-logo{
  height: 50px;
}
.navbarNavAltMarkup{
  justify-content: flex-end!important;
}
.navbar-brand, .navbar-nav{
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow:  15px 15px 48px #afafaf,
              -15px -15px 48px #ffffff;
}
.hero{
  text-align: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  border-radius: 15px;
}

.text h1:hover{
  text-decoration: line-through;
}
.carousel-text, .text-white{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1 rem;
  color:black;
}
.text-white{
  color:white;
}
.text-grey{
  color: var(--dg-color);
}

footer{
  background: var(--dg-color);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}
#footer-list{
  list-style: none;
}
/* =============================================================================
   GSAP ANIMATION
   ========================================================================== */
.text{
  opacity: 0;
  left: 100%;
}

/* =============================================================================
   Media query Mobile
   ========================================================================== */
@media(min-width: 300px){  
  .text{
    /* background: black; */
    font-size: 2rem;
    text-align: end;
    padding: 20px;
  }
  .text-grey{
    font-size: 0.8rem;
  }
  h4{
    font-size: 1rem;
  }
  .text {
    position: relative;
    top: 50%;
    transform: translate(0px, -45%);
    margin: 0px;
    text-transform: uppercase;
  }
  .logofolio{
    padding-bottom: 10px;
    margin: 20px;
    background: white;
    align-items: start;
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    /*Gsap animation*/
    opacity: 0;
    left: 100%;
  }
  .projects{
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    display: block;
    text-align: center;
    width: 100%;
    justify-content: center;
    border-radius: 15px;
    /*Gsap animation*/
    opacity: 0;
    left: 100%;
  }
  .logofolio-knowledge h2{
    padding-top: 20px;
  }
  .logofolio-organizer{
    margin: 20px;
  }
  .logofolio-knowledge-images{
    padding-bottom: 20px;
    width: auto;
    margin: 0 auto;
  }
}

/* =============================================================================
   Media query iPads - Tablets 768px
   ========================================================================== */
@media(min-width: 600px){ 
  .text h1{
    background: red;
  }
  .text{
    position: relative;
    top: 45%;
    transform: translate(0, -45%);
    margin: 0;
    text-transform: uppercase;
  }
}

/* =============================================================================
   Media query Desktop
   ========================================================================== */

@media(min-width: 1024px){ 
  .text h1{
    background: green;
  }
  .logofolio{
    /* background: rgba(23,23,23, 0.9); */
    padding-left: 50px;
    padding-right: 50px;
    align-self: center;
    display: flex;
  }
  .logofolio-organizer h1, .projects h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px;
  
  }
  .text{
    position: relative;
    top: 45%;
    transform: translate(0, -45%);
    margin: 0;
    text-transform: uppercase;
  }
}
